<!DOCTYPE html>
<html>
    <head> 
        <script src="/static/js/bone.js"></script>
        <link rel="stylesheet" href="/static/css/style.css" ></link>
    </head>
    <body>
        <h2>Login Succsess</h2>
        <h3>Logged in as {{{skel.name}}}</h3>
    </body>
</html>