<!DOCTYPE html>
<html>
    <head> 
        <script src="/static/js/bone.js"></script>
        <link rel="stylesheet" href="/static/css/style.css" ></link>
    </head>
    <body>
        <h3>Login</h3>
        <form method="POST">
            <label for="name">Name:</label>
            <input id="name" name="name">
            <label for="password">Password:</label>
            <input id="password" name="password">
        <button type="submit">Senden</button>
        </form>

    </body>
</html>