<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        view
        <ul>
         {{#each skel}}
            <li>{{@key}}: {{this}}</li>
        {{/each}}
        </ul>

    </body>
</html>